page-new-message {
	.item-textarea{
		height: 16rem;
	}

	.divim{
		border: 1px solid #dedede;
	}
	.item{
		padding: 0;
	}

	.input-wrapper{
		padding-left: 16px;
	}

	.text-input{
		height: 100%;
		color:#5f5f5f;
	}
	.label{
		width: auto;
	}
	.select{
		width: auto;
	}
	.genelDiv{
		border: 1px solid #dedede;
	}
	.buttonlar{
		margin: 12px;
	}

}
