page-home {
	.item-block:first-child{
		border-top: 0!important;
	}

	.togglePart{

		#toggleItem{
			border:0.55px solid #c8c7cc !important;
		}
	}

	.girisYapButton{
		width: 100%;
		background-color: #e86e23!important;
	}

	.item-input{
		padding-left: 0!important;
	}


}
